@using LibrarianApplication.Blazor.Model;
<EditForm Model="@Borrow" OnValidSubmit="@HandleValidSubmitAsync">
    <DataAnnotationsValidator />
    <div class="mb0">
        <label class="col-form-label">ReaderNumber</label>
        <InputNumber @bind-Value="@Borrow.ReaderNumber" class="form-control" />
        <ValidationMessage For="() => Borrow.ReaderNumber" />
    </div>
    <div class="mb0">
        <label class="col-form-label">InventoryNumber</label>
        <InputNumber @bind-Value="@Borrow.InventoryNumber" class="form-control" />
        <ValidationMessage For="() => Borrow.InventoryNumber" />
    </div>
    <div class="mb0">
        <label class="col-form-label">Publisher</label>
        <InputDate @bind-Value="@Borrow.BorrowDate" class="form-control" />
        <ValidationMessage For="() => Borrow.BorrowDate" />
    </div>
    <div class="mb0">
        <label class="col-form-label">ReturnDate</label>
        <InputDate @bind-Value="@Borrow.ReturnDate" class="form-control" />
        <ValidationMessage For="() => Borrow.ReturnDate" />
    </div>
    <button style="margin-top:10px" type="submit" class="btn btn-primary form-control mb-3">@ButtonTitle</button>
</EditForm>

@code {
    [Parameter]
    public Borrow Borrow { get; set; }

    [Parameter]
    public string ButtonTitle { get; set; }

    [Parameter]
    public Func<Task> HandleValidSubmitAsync { get; set; }
}
